.Maincontainer{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: aqua;

}
.Headercontainer{
    height: 10vh;
    width: 100%;
    background-color: blue;
}
.container{
    display: flex;
    flex-direction: row;
    width: 100%;

}
.Navcontainer{
    height: 90vh;
    width: 30%;
    background-color: burlywood;

}
.contentandfooter{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contentcontainer{
    height: 65vh;
    width: 100%;
    background-color: chartreuse;
}
.footercontainer{
    height: 25vh;
    width: 100%;
    background-color: darkorange;
}
