.input{
    height: 60px;
    width: 60px;
    text-shadow: 40px;

}
.button{
    height: 40px;
    width: 100px;
    background-color: rgb(136, 154, 241);
    border-radius: 10%;
    box-shadow: 40%;
    font-family: 'Times New Roman', Times, serif; 
    font-style: italic;
}
.maincontainer{
    background-color: darkcyan;
    height: 100vh;
    width: 100%;
}

.border{
    border-radius: 10%;
    background-color: rgb(238, 243, 245);
    border-color: black;
}